.wrapper{
	display: table;
	text-align: center;
	float: right;
	width: 100%;
	height: 100%
}


.btn_sel{
	display: table-cell;
	vertical-align: middle;
	margin-top: 25%;
	width: 65%;
	height: 120px;

    text-decoration:none;
	background:#239F60;
	color:#f2f2f2;	
	padding: 10px 30px 10px 30px;
	font-size:45px;
	font-family: 微软雅黑,宋体,Arial,Helvetica,Verdana,sans-serif;
	font-weight:bold;
	border-radius:3px;
	
	-webkit-transition:all linear 0.30s;
	-moz-transition:all linear 0.30s;
	transition:all linear 0.30s;

}

.base_div{
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
}

.que{
	display: table;
	margin-top: 30px;
	width: 100%;
}

.btn_per{
	display: table-cell;

	text-decoration:none;
	background:#239F60;
	color:#f2f2f2;
	padding: 10px 30px 10px 30px;
	font-size:18px;
	font-family: 微软雅黑,宋体,Arial,Helvetica,Verdana,sans-serif;
	font-weight:bold;
	border-radius:3px;
	
	-webkit-transition:all linear 0.30s;
	-moz-transition:all linear 0.30s;
	transition:all linear 0.30s;

}

.btn_next{
	display: table-cell;
	margin-left: 100px;

	text-decoration:none;
	background:#239F60;
	color:#f2f2f2;

	padding: 10px 30px 10px 30px;
	font-size:18px;
	font-family: 微软雅黑,宋体,Arial,Helvetica,Verdana,sans-serif;
	font-weight:bold;
	border-radius:3px;
	
	-webkit-transition:all linear 0.30s;
	-moz-transition:all linear 0.30s;
	transition:all linear 0.30s;

}

.btn_commit{
	display: table-cell;
	margin-left: 100px;
	text-decoration:none;
	background:#239F60;
	color:#f2f2f2;

    padding: 10px 30px 10px 30px;
	font-size:18px;
	font-family: 微软雅黑,宋体,Arial,Helvetica,Verdana,sans-serif;
	font-weight:bold;
	border-radius:3px;
	
	-webkit-transition:all linear 0.30s;
	-moz-transition:all linear 0.30s;
	transition:all linear 0.30s;

}

.show_result{
	margin-left: 100px;
    margin-top: 30px;

    text-decoration:none;
	background:#239F60;
	color:#f2f2f2;

    padding: 10px 30px 10px 30px;
	font-size:18px;
	font-family: 微软雅黑,宋体,Arial,Helvetica,Verdana,sans-serif;
	font-weight:bold;
	border-radius:3px;
	
	-webkit-transition:all linear 0.30s;
	-moz-transition:all linear 0.30s;
	transition:all linear 0.30s;

}

